# Supabase Database Credentials
AFKLM_DB_HOST=db.tyxjeiruvzhldsunewgt.supabase.co
AFKLM_DB_PORT=5432
AFKLM_DB_USER=postgres
AFKLM_DB_PASSWORD=your-password-here
AFKLM_DB_NAME=postgres
AFKLM_DB_SSLMODE=require

# dbt Configuration
DBT_SCHEMA=dbt_prod
DBT_THREADS=4

# ML model artifacts (URLs signées Supabase Storage, à régénérer périodiquement)
MODEL_MEANS_URL=https://amtxaysrmhlznfwqemdu.supabase.co/storage/v1/object/sign/ml_models/means_2026-04-01_11_33_01.pkl?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV80OThhOTAyZC0zYTJmLTRjM2EtOTFlOC05NGE0YTE2MTc0ZTgiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJtbF9tb2RlbHMvbWVhbnNfMjAyNi0wNC0wMV8xMV8zM18wMS5wa2wiLCJpYXQiOjE3Nzg4NDcyOTksImV4cCI6MTgxMDM4MzI5OX0.WK2f_pSETZsGyi9nL5H2eGUmR--iLeOhKiQtBD7sdXs
MODEL_SCALER_URL=https://amtxaysrmhlznfwqemdu.supabase.co/storage/v1/object/sign/ml_models/scaler_2026-04-01_11_33_06.pkl?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV80OThhOTAyZC0zYTJmLTRjM2EtOTFlOC05NGE0YTE2MTc0ZTgiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJtbF9tb2RlbHMvc2NhbGVyXzIwMjYtMDQtMDFfMTFfMzNfMDYucGtsIiwiaWF0IjoxNzc4ODQ3MzI4LCJleHAiOjE4MTAzODMzMjh9.meeI1O3y1s9MNNe17ojuoigov9cKeinI6kDO9Va9huk
MODEL_XGB_URL=https://amtxaysrmhlznfwqemdu.supabase.co/storage/v1/object/sign/ml_models/xgb_2026-04-01_11_36_35.pkl?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV80OThhOTAyZC0zYTJmLTRjM2EtOTFlOC05NGE0YTE2MTc0ZTgiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJtbF9tb2RlbHMveGdiXzIwMjYtMDQtMDFfMTFfMzZfMzUucGtsIiwiaWF0IjoxNzc4ODQ3MzU5LCJleHAiOjE4MTAzODMzNTl9.7dE9p63B55i4I4-ktdRk3NEkX15O3wobqAH_qSFrcvI
