# =============================================================================
# DOCKER INFRASTRUCTURE & NOMMAGE
# =============================================================================
COMPOSE_PROJECT_NAME=afklm-formation

# Ports exposés pour la soutenance (Évite les conflits avec VetEternity)
AIRFLOW_WEB_PORT=8081
STREAMLIT_PORT=8501
GRAFANA_PORT=3000
PROMETHEUS_PORT=9090
CADVISOR_PORT=8082
POSTGRES_EXPORTER_PORT=9187

# Ports internes de la stack
FASTAPI_PORT=8000
AIRFLOW_POSTGRES_PORT=5450
LOCAL_POSTGRES_PORT=5432

# =============================================================================
# ENVIRONNEMENT GLOBAL
# =============================================================================
ENV=prod
DBT_TARGET=${ENV}

# =============================================================================
# LAYER 1 : INGESTION (API AIR FRANCE KLM)
# =============================================================================
AF_API_URL=https://api.airfranceklm.com/opendata

# Pool de clés pour la gestion du Failover - Remplacer par vos clés de l'OpenData AFKLM
AF_CLIENT_ID_1=votre_api_key_1_ici
AF_CLIENT_ID_2=votre_api_key_2_ici
AF_CLIENT_ID_3=votre_api_key_3_ici
AF_CLIENT_ID_4=votre_api_key_4_ici
AF_CLIENT_ID_5=votre_api_key_5_ici

SOURCES__AFKLM__API_KEY=votre_api_key_1_ici

# =============================================================================
# LAYER 2 : STORAGE & TRANSFORMATION (SUPABASE POSTGRES)
# =============================================================================
# Variables maîtresse dbt - Remplacer par l'hôte de votre base Supabase
AFKLM_DB_HOST=votre-projet-id.pooler.supabase.com
AFKLM_DB_PORT=5432
AFKLM_DB_NAME=postgres
AFKLM_DB_USER=postgres.votre-user-id
AFKLM_DB_PASSWORD=your-password-here
AFKLM_DB_SSLMODE=require

# Références de compatibilité pour l'infra Python classique (psycopg2 / dlt)
DB_HOST=${AFKLM_DB_HOST}
DB_PORT=${AFKLM_DB_PORT}
DB_NAME=${AFKLM_DB_NAME}
DB_USER=${AFKLM_DB_USER}
DB_PASSWORD=${AFKLM_DB_PASSWORD}
DB_SCHEMA=public

# RESOLUTION COMPATIBILITE DLT -> SUPABASE
DESTINATION__POSTGRES__CREDENTIALS="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=require"

# Configuration d'exécution de DLT / dbt
SOURCES__AFKLM__INCREMENTAL=True
DBT_THREADS=4

# =============================================================================
# LAYER 3 : SERVING & MACHINE LEARNING (FASTAPI)
# =============================================================================
# Artifacts de modèles ML (URLs signées Supabase Storage, à régénérer périodiquement si expirées)
MODEL_MEANS_URL=https://amtxaysrmhlznfwqemdu.supabase.co/storage/v1/object/sign/ml_models/means_2026-04-01_11_33_01.pkl?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV80OThhOTAyZC0zYTJmLTRjM2EtOTFlOC05NGE0YTE2MTc0ZTgiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJtbF9tb2RlbHMvbWVhbnNfMjAyNi0wNC0wMV8xMV8zM18wMS5wa2wiLCJpYXQiOjE3Nzg4NDcyOTksImV4cCI6MTgxMDM4MzI5OX0.WK2f_pSETZsGyi9nL5H2eGUmR--iLeOhKiQtBD7sdXs
MODEL_SCALER_URL=https://amtxaysrmhlznfwqemdu.supabase.co/storage/v1/object/sign/ml_models/scaler_2026-04-01_11_33_06.pkl?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV80OThhOTAyZC0zYTJmLTRjM2EtOTFlOC05NGE0YTE2MTc0ZTgiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJtbF9tb2RlbHMvc2NhbGVyXzIwMjYtMDQtMDFfMTFfMzNfMDYucGtsIiwiaWF0IjoxNzc4ODQ3MzI4LCJleHAiOjE4MTAzODMzMjh9.meeI1O3y1s9MNNe17ojuoigov9cKeinI6kDO9Va9huk
MODEL_XGB_URL=https://amtxaysrmhlznfwqemdu.supabase.co/storage/v1/object/sign/ml_models/xgb_2026-04-01_11_36_35.pkl?token=eyJraWQiOiJzdG9yYWdlLXVybC1zaWduaW5nLWtleV80OThhOTAyZC0zYTJmLTRjM2EtOTFlOC05NGE0YTE2MTc0ZTgiLCJhbGciOiJIUzI1NiJ9.eyJ1cmwiOiJtbF9tb2RlbHMveGdiXzIwMjYtMDQtMDFfMTFfMzZfMzUucGtsIiwiaWF0IjoxNzc4ODQ3MzU5LCJleHAiOjE4MTAzODMzNTl9.7dE9p63B55i4I4-ktdRk3NEkX15O3wobqAH_qSFrcvI