# Environnements (secrets)
.env
.env.dev
.env.prod

# dbt
profiles.yml
.user.yml
.dbt/
logs/
target/
dbt_packages/

# dlt
.dlt/secrets.toml

# Python
venv/
.venv/
__pycache__/
*.py[cod]
.DS_Store

# Notes d'avancement (locales)
avancement_*.md


# Compléments DLT
.dlt/.var
_local
*.duckdb
*.wal

# Snapshots et Backups locaux de la base de données
backup/