# Pipeline dlt (ingestion)
dlt[postgres]==1.23.0
requests==2.32.5
python-dotenv==1.2.2

# dbt (transformation)
dbt-postgres==1.8.2
psycopg2-binary==2.9.11

# ML (scoring harmonisé)
sqlalchemy==2.0.27
pandas==1.5.3
scikit-learn==1.4.1.post1
xgboost==2.0.3
joblib==1.3.2
imbalanced-learn==0.12.0