/* COMPOSANTS NATIFS STREAMLIT*/

.stApp,
body {
      color: #cbc8c8;
}

/* Force la sidebar fermée à rester visible */
[data-testid="stSidebarCollapsedControl"] {
    left: 0;
    background-color: #cbc8c8;
    padding: 10px;
    border-radius: 0 8px 8px 0;
}

/* Cosmétique barre latérale principale */
[data-testid="stSidebar"] {
    background-color: #00a2df;
    border-right: 1px solid #e0e0e0;
    transition: all 0.3s ease;
}

.stButton>button {
    border-radius: 4px;
}

/* PAGE DE GARDE & SOUTENANCE */

/* Alignement et design du bloc de titre principal */
.main-header {
    text-align: center;
    padding: 10px 0;
    color: #cbc8c8
}

.header-title {
    color: #cbc8c8;
    font-size: 2.8em;
    font-family: sans-serif;
    font-weight: 700;
}

.header-subtitle {
    color: #cbc8c8;
    font-size: 1.5em;
    font-weight: 400;
}

/* Design des cartes individuelles de l'équipe technique */
.learner-card {
    background-color: #00a2df;
    padding: 20px;
    border-radius: 6px;
    border: 1px solid #00a2df;
    border-top: 3px solid #dfdfdf;
}

.learner-card h5 {
    margin: 0 0 5px 0;
    color: #dfdfdf;
}

.learner-card p {
    color: #666;
    font-size: 0.85em;
    margin: 0;
}

/* FOOTER - SIDEBAR STATUS

.api-status-container {
    font-size: 0.8em;
    color: #777;
    margin-top: 20px;
}

.status-connected {
    color: #2e7d32;
}
